.site-section-wrapper {
  display: flex;
  flex-wrap: wrap;
}


.col-lg-4 {
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
}

.icon-wrap {
  font-size: 10px;
  color: #163154;
}

.icon-wrap img {
  margin-right: 9px;
  max-width: 33px;
}

span {
  color: #163154;
  font-size: 12px;
}

table {
  // border-collapse: collapse;
  // width: auto;
  font-size: 14px;
}

td {
  text-align: left;
  background-color: #F9F9F9;
  color: #163154;
  padding-right: 4px;
}


.button {
  display: block;
  padding-top: 12px;
  padding-bottom: 12px;
  text-decoration: none;
  // transition: .2s;
  text-align: center;
  font-size: 14px;
}


.btn-1 a {
  background-color: #EDF1F5;
  color: #163154 !important;
  border-radius: 3px;
}

.btn-2 a {
  background-color: #45A65A;
  border-radius: 3px;
  color: #fff;
  text-transform: uppercase;
}



