@font-face {
  font-family: "OpenSans-Regular";
  src: url("../../fonts/OpenSans-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans-Light";
  src: url("../../fonts/OpenSans-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans-Semibold";
  src: url("../../fonts/OpenSans-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans-Bold";
  src: url("../../fonts/OpenSans-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans-Extrabold";
  src: url("../../fonts/OpenSans-Extrabold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}
.site-section-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding-top: 1rem;
  font-family: "OpenSans-Regular", sans-serif;
}

.site-breadcrumbs {
  display: flex;
}

.site-breadcrumbs-p a {
  text-decoration: none;
  color: #163154;
  font-size: 10px;
  line-height: 1.4;
}

.site-breadcrumbs-p__icon {
  margin-right: 10px;
  margin-left: 10px;
}

.d-lg-block {
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 24px;
}
@media (min-width: 992px) {
  .d-lg-block {
    display: block !important;
  }
}

.h1 {
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 24px;
}

h2 {
  font-family: "OpenSans-Semibold", sans-serif;
}
@media (max-width: 575.98px) {
  h2 {
    font-size: 20px !important;
  }
}

.artical-img-wrap img {
  margin-top: 26px;
}

.info-1__col {
  position: relative;
  margin-bottom: 30px;
}
.info-1__col:not(:last-child)::after {
  content: "";
  position: absolute;
  right: 0;
  top: -8px;
  width: 1px;
  height: 48px;
  background: #EDF1F5;
}

.info-1-item {
  display: flex;
  align-items: center;
}
.info-1-item__icon-wrap {
  margin-right: 8px;
  min-width: 33px;
}
.info-1-item__title {
  font-family: "OpenSans-Light", sans-serif;
  font-size: 10px;
  line-height: 1.2727272727;
  text-transform: capitalize;
  margin-bottom: 2px;
}
.info-1-item__text {
  font-style: normal;
  font-family: "OpenSans-Semibold", sans-serif;
  font-size: 12px;
  line-height: 1.3333333333;
  color: #163154;
}

.info-2 {
  margin-left: -15px;
  margin-bottom: -6px;
}
.info-2 table {
  width: 100%;
  font-size: 14px;
}
@media (max-width: 991.98px) {
  .info-2__right-top {
    margin-bottom: 1px;
  }
}
.info-2 tr {
  border-bottom: 3px solid #fff;
}
.info-2 td {
  text-align: left;
  background-color: #F9F9F9;
  color: #163154;
  padding: 4px 10px;
  font-size: 13px;
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .info-2 td {
    font-size: 10px;
  }
}
.info-2 td:nth-child(1) {
  font-family: "OpenSans-Light", sans-serif;
  padding-left: 18px;
}

.row--sm {
  margin-left: -2px;
  margin-right: -2px;
}
.row--sm > * {
  padding-left: 2px !important;
  padding-right: 2px !important;
}

.btn-info-3 {
  text-align: center;
  display: block;
  font-size: 14px;
  margin-bottom: 8px;
  border-radius: 3px;
  padding: 7.5px 10px;
  width: 100%;
}
.btn-info-3__counter {
  font-family: "OpenSans-Regular", sans-serif;
  margin-left: 6px;
}
.btn-info-3--rews {
  border: 1px solid #EDF1F5;
  background-color: #EDF1F5;
  color: #163154 !important;
  font-family: "OpenSans-Light", sans-serif;
}
.btn-info-3--rews:hover {
  border: 1px solid #163154;
  background-color: #163154;
  color: #EDF1F5 !important;
}
.btn-info-3--success {
  border: 1px solid #45A65A;
  background-color: #45A65A;
  color: #FFFFFF !important;
  text-transform: uppercase;
  font-weight: bold;
}
@media (min-width: 992px) and (max-width: 1068px) {
  .btn-info-3--success {
    font-size: 12px;
  }
}
.btn-info-3--success:hover {
  border: 1px solid #0c992b;
  background-color: #0c992b;
  color: #EDF1F5 !important;
}

.info-3 table {
  margin-top: 8px;
}

.info-3-item {
  border: none;
}
.info-3-item td {
  padding: 0;
  padding-bottom: 20px;
  vertical-align: middle;
}
.info-3-item td:first-child {
  width: 100px;
}
.info-3-item__counter {
  padding-right: 20px;
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 24px;
  line-height: 1.375;
  color: #163154;
}
.info-3-item__counter img {
  position: relative;
  top: -3px;
}
.info-3-item__counter--star {
  color: #CC8B17;
}
.info-3-item__text {
  padding: 0;
  font-family: "OpenSans-Light", sans-serif;
  font-size: 10px;
  line-height: 1.4;
  color: #AEACAC;
  max-width: 120px;
}

.artical-img-wrap {
  padding-bottom: 2rem;
}
.artical-img-wrap img {
  max-width: 100%;
  height: auto;
}

.artical-head {
  position: relative;
}
.artical-head::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 44%;
  margin-left: -200px;
  width: 491px;
  height: 1px;
  background: #EDF1F5;
  margin-bottom: -8px;
}
@media (max-width: 991.98px) {
  .artical-head::after {
    width: 100%;
    left: auto;
    margin-left: auto;
  }
}

.entry-content p {
  color: #163154;
  font-size: 17px;
  line-height: 1.7647058824;
}
@media (max-width: 575.98px) {
  .entry-content p {
    font-size: 15px;
  }
}

.btn-wrap a {
  text-decoration: none;
}