.site-breadcrumbs-p {
  color: #163154;
  font-size: 10px;
  line-height: 1.4;
}
.site-breadcrumbs-p a {
  text-decoration: none;
}

.site-section-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.info-1__col {
  position: relative;
  margin-bottom: 30px;
}
.info-1__col:not(:last-child)::after {
  content: "";
  position: absolute;
  right: 0;
  top: -8px;
  width: 1px;
  height: 48px;
  background: #EDF1F5;
}

.info-1-item {
  display: flex;
  align-items: center;
}
.info-1-item__icon-wrap {
  margin-right: 8px;
  min-width: 33px;
}
.info-1-item__title {
  font-weight: 300;
  font-size: 10px;
  line-height: 1.2727272727;
  text-transform: capitalize;
  margin-bottom: 2px;
}
.info-1-item__text {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.3333333333;
  color: #163154;
}

.info-2 {
  margin-left: -15px;
  margin-bottom: -6px;
}
.info-2 table {
  width: 100%;
  font-size: 14px;
}
.info-2 tr {
  border-bottom: 2px solid #fff;
}
.info-2 td {
  text-align: left;
  background-color: #F9F9F9;
  color: #163154;
  padding: 4px 10px;
  font-size: 13px;
}
.info-2 td:nth-child(1) {
  font-weight: 300;
  padding-left: 18px;
}

.row--sm {
  margin-left: -2px;
  margin-right: -2px;
}
.row--sm > * {
  padding-left: 2px !important;
  padding-right: 2px !important;
}

.btn-info-3 {
  text-align: center;
  display: block;
  font-size: 14px;
  margin-bottom: 8px;
  border-radius: 3px;
  padding: 7.5px 10px;
  width: 100%;
}
.btn-info-3__counter {
  font-weight: 400;
}
.btn-info-3--rews {
  border: 1px solid #EDF1F5;
  background-color: #EDF1F5;
  color: #163154;
  font-weight: 300;
}
.btn-info-3--rews:hover {
  border: 1px solid #163154;
  background-color: #163154;
  color: #EDF1F5 !important;
}
.btn-info-3--success {
  border: 1px solid #45A65A;
  background-color: #45A65A;
  color: #FFFFFF !important;
  text-transform: uppercase;
  font-weight: bold;
}
.btn-info-3--success:hover {
  border: 1px solid #0c992b;
  background-color: #0c992b;
  color: #EDF1F5 !important;
}

.info-3 table {
  margin-top: 8px;
}

.info-3-item {
  border: none;
}
.info-3-item td {
  padding: 0;
  padding-bottom: 20px;
  vertical-align: middle;
}
.info-3-item td:first-child {
  width: 100px;
}
.info-3-item__counter {
  padding-right: 20px;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.375;
  color: #163154;
}
.info-3-item__counter img {
  position: relative;
  top: -3px;
}
.info-3-item__counter--star {
  color: #CC8B17;
}
.info-3-item__text {
  padding: 0;
  font-weight: 300;
  font-size: 10px;
  line-height: 1.4;
  color: #AEACAC;
  max-width: 120px;
}

.artical-img-wrap {
  padding-bottom: 2rem;
}
.artical-img-wrap img {
  max-width: 100%;
  height: auto;
}

.artical-head {
  position: relative;
}
.artical-head::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 44%;
  margin-left: -200px;
  width: 491px;
  height: 1px;
  background: #EDF1F5;
  margin-bottom: -8px;
}